@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Poppins', sans-serif;
}
@keyframes blinkCursor {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking-cursor {
  display: inline-block;
  animation: blinkCursor 1s steps(2, start) infinite;
}
body {
  overflow-x: hidden; /* This is the key line */
}

